// Variables
// =====================================================
// Color Variables
// -----------------------------------------------------
$primeWhite:          #ffffff;
$primeBlue:           #0b2d77;

$secondaryBlue:       #259cc4;
$secondaryGrey:       #f1f1f1;
$darkGrey:            #303134;
$spaceGrey:           #aaadb2;
$tabTitle:            #1e99c3;
$borderGrey:          #ededed;

// Screen Size Variables
// -----------------------------------------------------
$xlSS:                1280px;
$lgSS:                1024px;
$mdSS:                768px;
$smSS:                568px;

// Font Variables
// -----------------------------------------------------
$baseFont:            16px;
$tabletFont:          30px;
$mobileFont:          20px;

// Border Radius Variables
// -----------------------------------------------------
$baseBorderRadius:    4px;
$mobileBorderRadius:  3px;

// Other
// -----------------------------------------------------
$ArialFontFamily:     Arial, sans-serif;
// =====================================================