// =====================================================
// Test Task Styles file
// =====================================================

// Lib imports
// =====================================================
@import "variables";

// Content styles
// =====================================================
body {
  background: $primeWhite;
  font-family: Arial, sans-serif;

  @media screen and (max-width: $lgSS) {
    font-size: $baseFont;
  }

  @media screen and (max-width: $mdSS) {
    font-size: $mobileFont;
  }

  @media screen and (max-width: $smSS) {
    font-size: $mobileFont;
  }
}

// Main Content
// =====================================================
.wrapper {
  color: white;
}

// Rechercher title
// =====================================================
.rechercher-block {
  background: rgb(37,156,196); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(37,156,196) 0%, rgb(11,45,119) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgb(37,156,196) 0%,rgb(11,45,119) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgb(37,156,196) 0%,rgb(11,45,119) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#259cc4', endColorstr='#0b2d77',GradientType=0 ); /* IE6-9 */
  height: 438px;
  margin: 20% auto 0;
  padding: 7px 6px 8px 7px; /* such values in design, but will be better use common value - 7px */
  width: 436px;
}

.rechercher-title {
  text-transform: uppercase;
  padding: 8px 17px;
}

.loupe {
  background: url("../images/loupe.gif") no-repeat left center; /* for old browsers which are not support SVG */
  background: none, url("../images/loupe.svg") no-repeat left center; /* for modern browsers */
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  width: 28px;
}

.rechercher-title-text {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  padding: 3px 0 0 11px;
}

// Rechercher tabs
// =====================================================
.tabs-menu {
  list-style:none;
  margin: 0;
  padding: 0;
  text-align: justify;

  .tab-items-title {
    display: inline-block;
    font-size: 12px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 0 0;
    width: 214px;

    &:hover {
     cursor: pointer;
    }
  }

  li {
    display: inline-block;
    float: left;

    .habiter {
      background: url("../images/habiter-tab-bg.png") no-repeat;
      color: $primeWhite;
    }

    .investir {
      background: url("../images/investir-tab-bg.png") no-repeat;
      color: $primeWhite;
    }

    &.current {
      .habiter {
        background: url("../images/habiter-tab-bg-active.png") no-repeat;
        color: $tabTitle;
      }

      .investir {
        background: url("../images/investir-tab-bg-active.png") no-repeat;
        color: $tabTitle;
      }
    }

    &.last-tab{
      float: right;
    }
  }
}

.tab-items-content {
  background: $primeWhite;
  clear: both;
  display: none;

  &#habiter {
    display: block;
  }
}

// Tab Items Content - Habiter
// =====================================================
.rechercher-options-wrapper {
  background: $primeWhite;
  color: $primeBlue;
  font-size: 12px;
  height: 202px;
  padding: 19px 18px 16px 16px;

  & > div {
    display: inline-block;
    height: 100%;
  }
}

.rechercher-options-map {
  background: url("../images/carte.png") no-repeat center left;
  float: left;
  width: 175px;
}

.rechercher-options {
  border-left: 1px solid $borderGrey;
  padding-left: 20px;
  width: 205px;

  .rechercher-input-wrapper {
    label {
      &:hover {
        cursor: pointer;
      }
    }

    input {
      background: url("../images/input-field-bg.png") no-repeat left center;
      border: 0;
      height: 23px;
      margin: 6px 0 7px;
      padding: 0px 5px;
      width: 200px;
    }

    span {
      font-size: 11px;
    }
  }
}

.rechercher-footer {
  background: url("../images/rechercher-footer-bg.png") no-repeat center top;
  height: 98px;
  text-align: left;
  padding: 16px 0 0 78px;
}

.rechercher-footer-title {
  color: $primeBlue;
  font-size: 14px;

  span {
    font-weight: bold;
  }
}

.type-de-bien {
  margin: 31px 0 29px;

  .title {
    margin-bottom: 7px;
  }

  .pieces {
    input[type=checkbox] {
      display: none;
      visibility: hidden;

      & + label {
        background: url("../images/checkbox.gif") no-repeat center left;
        font-size: 11px;
        height: 12px;
        margin-right: 0px;

        @media screen and (-webkit-min-device-pixel-ratio:0) {
          margin-right: 4px;
        }

        padding: 0 7px 0 15px;
        width: 12px;

        &.last {
          margin-right: 0;
          padding-right: 0;
          padding-left: 14px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &:checked {
        & + label {
          background: url("../images/checkbox-checked.gif") no-repeat center left;
        }
      }
    }
  }
}

.budget-block-wrapper {
  .budget-title {
    margin-right: 20px;
  }
}

.rechercher-footer-submit {
  background: url("../images/btn-left.png") no-repeat center left;
  color: $primeWhite;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 251px;

  .submit-btn-text {
    background: url("../images/btn-right.png") no-repeat center right;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .cople-right {
    background: url("../images/cople-right.png") no-repeat center right;
    display: inline-block;
    height: 8px;
    margin: 0 0 1px 15px;
    width: 7px;
  }
}