/* line 11, stdin */
body {
  background: #ffffff;
  font-family: Arial, sans-serif; }
  @media screen and (max-width: 1024px) {
    /* line 11, stdin */
    body {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    /* line 11, stdin */
    body {
      font-size: 20px; } }
  @media screen and (max-width: 568px) {
    /* line 11, stdin */
    body {
      font-size: 20px; } }

/* line 30, stdin */
.wrapper {
  color: white; }

/* line 36, stdin */
.rechercher-block {
  background: #259cc4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #259cc4 0%, #0b2d77 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #259cc4 0%, #0b2d77 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #259cc4 0%, #0b2d77 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#259cc4', endColorstr='#0b2d77',GradientType=0 );
  /* IE6-9 */
  height: 438px;
  margin: 20% auto 0;
  padding: 7px 6px 8px 7px;
  /* such values in design, but will be better use common value - 7px */
  width: 436px; }

/* line 48, stdin */
.rechercher-title {
  text-transform: uppercase;
  padding: 8px 17px; }

/* line 53, stdin */
.loupe {
  background: url("../images/loupe.gif") no-repeat left center;
  /* for old browsers which are not support SVG */
  background: none, url("../images/loupe.svg") no-repeat left center;
  /* for modern browsers */
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  width: 28px; }

/* line 62, stdin */
.rechercher-title-text {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  padding: 3px 0 0 11px; }

/* line 71, stdin */
.tabs-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify; }
  /* line 77, stdin */
  .tabs-menu .tab-items-title {
    display: inline-block;
    font-size: 12px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 0 0;
    width: 214px; }
    /* line 87, stdin */
    .tabs-menu .tab-items-title:hover {
      cursor: pointer; }
  /* line 92, stdin */
  .tabs-menu li {
    display: inline-block;
    float: left; }
    /* line 96, stdin */
    .tabs-menu li .habiter {
      background: url("../images/habiter-tab-bg.png") no-repeat;
      color: #ffffff; }
    /* line 101, stdin */
    .tabs-menu li .investir {
      background: url("../images/investir-tab-bg.png") no-repeat;
      color: #ffffff; }
    /* line 107, stdin */
    .tabs-menu li.current .habiter {
      background: url("../images/habiter-tab-bg-active.png") no-repeat;
      color: #1e99c3; }
    /* line 112, stdin */
    .tabs-menu li.current .investir {
      background: url("../images/investir-tab-bg-active.png") no-repeat;
      color: #1e99c3; }
    /* line 118, stdin */
    .tabs-menu li.last-tab {
      float: right; }

/* line 124, stdin */
.tab-items-content {
  background: #ffffff;
  clear: both;
  display: none; }
  /* line 129, stdin */
  .tab-items-content#habiter {
    display: block; }

/* line 136, stdin */
.rechercher-options-wrapper {
  background: #ffffff;
  color: #0b2d77;
  font-size: 12px;
  height: 202px;
  padding: 19px 18px 16px 16px; }
  /* line 143, stdin */
  .rechercher-options-wrapper > div {
    display: inline-block;
    height: 100%; }

/* line 149, stdin */
.rechercher-options-map {
  background: url("../images/carte.png") no-repeat center left;
  float: left;
  width: 175px; }

/* line 155, stdin */
.rechercher-options {
  border-left: 1px solid #ededed;
  padding-left: 20px;
  width: 205px; }
  /* line 162, stdin */
  .rechercher-options .rechercher-input-wrapper label:hover {
    cursor: pointer; }
  /* line 167, stdin */
  .rechercher-options .rechercher-input-wrapper input {
    background: url("../images/input-field-bg.png") no-repeat left center;
    border: 0;
    height: 23px;
    margin: 6px 0 7px;
    padding: 0px 5px;
    width: 200px; }
  /* line 176, stdin */
  .rechercher-options .rechercher-input-wrapper span {
    font-size: 11px; }

/* line 182, stdin */
.rechercher-footer {
  background: url("../images/rechercher-footer-bg.png") no-repeat center top;
  height: 98px;
  text-align: left;
  padding: 16px 0 0 78px; }

/* line 189, stdin */
.rechercher-footer-title {
  color: #0b2d77;
  font-size: 14px; }
  /* line 193, stdin */
  .rechercher-footer-title span {
    font-weight: bold; }

/* line 198, stdin */
.type-de-bien {
  margin: 31px 0 29px; }
  /* line 201, stdin */
  .type-de-bien .title {
    margin-bottom: 7px; }
  /* line 206, stdin */
  .type-de-bien .pieces input[type=checkbox] {
    display: none;
    visibility: hidden; }
    /* line 210, stdin */
    .type-de-bien .pieces input[type=checkbox] + label {
      background: url("../images/checkbox.gif") no-repeat center left;
      font-size: 11px;
      height: 12px;
      margin-right: 0px;
      padding: 0 7px 0 15px;
      width: 12px; }
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        /* line 210, stdin */
        .type-de-bien .pieces input[type=checkbox] + label {
          margin-right: 4px; } }
      /* line 223, stdin */
      .type-de-bien .pieces input[type=checkbox] + label.last {
        margin-right: 0;
        padding-right: 0;
        padding-left: 14px; }
      /* line 229, stdin */
      .type-de-bien .pieces input[type=checkbox] + label:hover {
        cursor: pointer; }
    /* line 235, stdin */
    .type-de-bien .pieces input[type=checkbox]:checked + label {
      background: url("../images/checkbox-checked.gif") no-repeat center left; }

/* line 244, stdin */
.budget-block-wrapper .budget-title {
  margin-right: 20px; }

/* line 249, stdin */
.rechercher-footer-submit {
  background: url("../images/btn-left.png") no-repeat center left;
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 251px; }
  /* line 257, stdin */
  .rechercher-footer-submit .submit-btn-text {
    background: url("../images/btn-right.png") no-repeat center right;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 5px; }
    /* line 264, stdin */
    .rechercher-footer-submit .submit-btn-text:hover {
      cursor: pointer; }
  /* line 269, stdin */
  .rechercher-footer-submit .cople-right {
    background: url("../images/cople-right.png") no-repeat center right;
    display: inline-block;
    height: 8px;
    margin: 0 0 1px 15px;
    width: 7px; }

/*# sourceMappingURL=maps/tt-styles.css.map */
